<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Vue Js</title>
	<!-- development version, includes helpful console warnings -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</head>
<body>
	<div id="root">
		<h3 style="padding: 0px 10px">Skills</h3><hr>
		<ul>
			<li v-for="(skill, i) in skills" v-if="skill.experience > 3">
				<p>{{i+1}}. {{ skill.name }} ({{skill.experience}})</p>
			</li>
		</ul>
	</div>



	<!-- development version, includes helpful console warnings -->
	<script src="vue.js"></script>
	<script src="app.js"></script>
</body>
</html>