 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Vue Js</title>
	<!-- development version, includes helpful console warnings -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</head>
<body>
	<div id="root">
		<!-- <h3 style="padding: 0px 10px">Skills</h3><hr> -->
		<h3 style="padding: 0px 10px">All Payments</h3><hr>
		<ul>
			<li v-for="(payment, i) in payments">
				<p> <!-- v-on:click = @click -->
				{{ i+1}}. {{ payment.name }} ({{ payment.amount }})
			</p>
			</li>
		</ul>
		<!-- <input type="text" v-model="newSkill">
		<button v-on:click="addSkill">add</button>  -->  <!-- v-on:click = @click -->

		<h3 style="padding: 0px 10px">Unpaid Payments</h3><hr>
		<ul>
			<li v-for="(payment, i) in unpaidPayments">
				<p> <!-- v-on:click = @click -->
				{{ i+1}}. {{ payment.name }} ({{ payment.amount }})
			</p>
			</li>
		</ul>
		<h3 style="padding: 0px 10px">Total amount: {{ totalAmount }}</h3><hr>
		
	</div>



	<!-- development version, includes helpful console warnings -->
	<script src="vue.js"></script>
	<script src="app.js"></script>
</body>
</html>